name: 修改微信步数

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs: 
  ChangBuShu: 
    runs-on: ubuntu-latest
    # if: github.event.repository.owner.id == github.event.sender.id
    # if: github.event.workflow_run.conclusion == 'success'
    steps:
    - name: checkout
      uses: actions/checkout@v2
      
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
        
    - name: 安装环境
      run: pip install -r ./requirements.txt
      
    - name: 修改步数
      run: python3 changebushu_Action.py
      env:
        USER_PHONE: ${{ secrets.USER_PHONE }}
        USER_PWD: ${{ secrets.USER_PWD }}
        STEP: ${{ secrets.STEP }}
        STEP_MIN: ${{ secrets.STEP_MIN }}
        STEP_MAX: ${{ secrets.STEP_MAX }}
        DING_ACCESS_TOKEN: ${{ secrets.DING_ACCESS_TOKEN }}
        DING_SECRET: ${{ secrets.DING_SECRET }}

  Darkkar:
    runs-on: ubuntu-latest
    # if: github.event.repository.owner.id == github.event.sender.id
    # if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: 安装环境
        run: pip install -r ./requirements.txt

      - name: darkkar签到
        run: python3 darkkar_Action.py
        env:
          DING_ACCESS_TOKEN: ${{ secrets.DING_ACCESS_TOKEN }}
          DING_SECRET: ${{ secrets.DING_SECRET }}
          APP_VERSION_CODE: ${{ secrets.APP_VERSION_CODE }}
          DARKKAR_USERS: ${{ secrets.DARKKAR_USERS }}

  Pcr532:
    runs-on: ubuntu-latest
    # if: github.event.repository.owner.id == github.event.sender.id
    # if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: 安装环境
        run: pip install -r ./requirements.txt

      - name: pcr532签到
        run: python3 pcr532_Action.py
        env:
          DING_ACCESS_TOKEN: ${{ secrets.DING_ACCESS_TOKEN }}
          DING_SECRET: ${{ secrets.DING_SECRET }}
          PCR532_USERNAME: ${{ secrets.PCR532_USERNAME }}
          PCR532_PASSC: ${{ secrets.PCR532_PASSC }}
          PCR532_USER_ID: ${{ secrets.PCR532_USER_ID }}

  V2ray:
    runs-on: ubuntu-latest
    # if: github.event.repository.owner.id == github.event.sender.id
    # if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: 安装环境
        run: pip install -r ./requirements.txt

      - name: v2ray签到
        run: python3 v2ray_Action.py
        env:
          DING_ACCESS_TOKEN: ${{ secrets.DING_ACCESS_TOKEN }}
          DING_SECRET: ${{ secrets.DING_SECRET }}
          V2RAY_COOKIE: ${{ secrets.V2RAY_COOKIE }}

  AppShare:
    runs-on: ubuntu-latest
    # if: github.event.repository.owner.id == github.event.sender.id
    # if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: 安装环境
        run: pip install -r ./requirements.txt

      - name: AppShare签到
        run: python3 appshare_Action.py
        env:
          DING_ACCESS_TOKEN: ${{ secrets.DING_ACCESS_TOKEN }}
          DING_SECRET: ${{ secrets.DING_SECRET }}
          APPSHARE_TOKEN: ${{ secrets.APPSHARE_TOKEN }}

  WeilaiGPT:
    runs-on: ubuntu-latest
    # if: github.event.repository.owner.id == github.event.sender.id
    # if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: 安装环境
        run: pip install -r ./requirements.txt

      - name: weilaigpt签到
        run: python3 weilaigpt_Action.py
        env:
          DING_ACCESS_TOKEN: ${{ secrets.DING_ACCESS_TOKEN }}
          DING_SECRET: ${{ secrets.DING_SECRET }}
          WEILAIGPT_USER: ${{ secrets.WEILAIGPT_USER }}
          WEILAIGPT_PASS: ${{ secrets.WEILAIGPT_PASS }}
